<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

    <servlet>
        <servlet-name>CustomController</servlet-name>
        <servlet-class>com.mishamba.project.controller.CustomController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>CustomController</servlet-name>
        <url-pattern>/university</url-pattern>
        <url-pattern>/courses_catalog</url-pattern>
        <url-pattern>/course_profile</url-pattern>
        <url-pattern>/authorization</url-pattern>
        <url-pattern>/sign_in</url-pattern>
        <url-pattern>/sign_up</url-pattern>
        <url-pattern>/sign_out</url-pattern>
        <url-pattern>/user_profile</url-pattern>
        <url-pattern>/hometask</url-pattern>
        <url-pattern>/active_courses</url-pattern>
        <url-pattern>/passed_courses</url-pattern>
        <url-pattern>/course_info</url-pattern>
    </servlet-mapping>
    
    <jsp-config>
        <taglib>
            <taglib-uri>button-tags</taglib-uri>
            <taglib-location>/WEB-INF/tld/button.tld</taglib-location>
        </taglib>
    </jsp-config>

    <filter>
        <filter-name>BaseFilter</filter-name>
        <filter-class>com.mishamba.project.filter.BaseFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>BaseFilter</filter-name>
        <url-pattern>/course_info</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>BaseFilter</filter-name>
        <url-pattern>/passed_courses</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>BaseFilter</filter-name>
        <url-pattern>/active_courses</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>BaseFilter</filter-name>
        <url-pattern>/hometask</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>BaseFilter</filter-name>
        <url-pattern>/user_profile</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>BaseFilter</filter-name>
        <url-pattern>/sign_out</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>BaseFilter</filter-name>
        <url-pattern>/sign_in</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>BaseFilter</filter-name>
        <url-pattern>/course_profile</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>BaseFilter</filter-name>
        <url-pattern>/authorization</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>BaseFilter</filter-name>
        <url-pattern>/university</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>BaseFilter</filter-name>
        <url-pattern>/courses_catalog</url-pattern>
    </filter-mapping>

    <error-page>
        <location>/pages/error.html</location>
    </error-page>

</web-app>